
* {
    box-sizing: border-box;
    
}
.work {

    
    overflow: auto;
    position: relative;
    float: left;
    
}
.row image {

   
    width: 100%;
    border: 0 none;
    /* opacity: .8; */
}

.row h3 {
    border-bottom: 0;
    background: #4aaaa5;
    color: #fff;
    text-align: center;
    position: absolute; 
    bottom: 20px;
    padding: 5px;
    width: 87%;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300; 
    font-size: 22px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: 400px;
    
}

.containter {
    padding-left: 75px;
}

.img-fluid {

    width: 100%;
}
